* {
    margin: 0;
}

body {
    margin: 0;
    background: #020202;
    cursor: crosshair;
    font-family: 'DM Sans', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

canvas {
    display: block
}

.text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: max-content;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 5em;
    font-weight: 900;
    -webkit-user-select: none;
    user-select: none;
}

.bar {
    display: inline-block;
    height: 4px;
    width: 60px;
    background: orange;
}

@media only screen and (max-width: 992px) {
    h1 {
        font-size: 1.3em;
        margin-bottom: 10px;
    }
}